@{
    ViewData["Title"] = "Eliminar usuario";
}

<h2>Eliminar usuario</h2>

<p>¿Seguro que deseas eliminar al usuario <strong>@ViewBag.Cedula</strong>?</p>

<form asp-action="ConfirmarEliminar" method="post">
    <input type="hidden" name="cedula" value="@ViewBag.Cedula" />

    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    <button class="btn btn-danger">Eliminar</button>
</form>
