@model HelpDeskTI.Web.Models.Usuario

@{
    ViewData["Title"] = "Nuevo Usuario";
}

<h2>Nuevo usuario</h2>

<form asp-action="Nuevo" method="post" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Cédula</label>
        <input asp-for="Cedula" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Apellido 1</label>
        <input asp-for="Apellido1" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Apellido 2</label>
        <input asp-for="Apellido2" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Rol</label>
        <select asp-for="Rol" class="form-select">
            <option>Empleado</option>
            <option>Tecnico</option>
            <option>TI</option>
        </select>
    </div>

    <div class="text-end">
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
