@{
    ViewData["Title"] = "Nuevo Usuario";
}

<!-- ENCABEZADO -->
<div class="mb-4">
    <h2 class="fw-bold mb-0">Nuevo usuario</h2>
    <small class="text-muted">Registrar un nuevo usuario en el sistema</small>
</div>

<!-- FORMULARIO -->
<div class="card shadow-sm">
    <div class="card-body">

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Cédula</label>
                <input class="form-control" placeholder="Ej: 0101010001">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Nombre</label>
                <input class="form-control" placeholder="Ej: Carlos">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Primer apellido</label>
                <input class="form-control" placeholder="Ej: Méndez">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Segundo apellido</label>
                <input class="form-control" placeholder="Ej: López">
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Rol</label>
                <select class="form-select">
                    <option selected disabled>Seleccione un rol</option>
                    <option>Empleado</option>
                    <option>Técnico</option>
                    <option>TI</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Estado</label>
                <select class="form-select">
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>
        </div>

        <hr>

        <div class="d-flex justify-content-end gap-2">
            <a asp-controller="Usuarios"
               asp-action="Index"
               class="btn btn-outline-secondary">
                Cancelar
            </a>

            <button class="btn btn-primary">
                Guardar usuario
            </button>
        </div>

    </div>
</div>
