@model HelpDeskTI.Web.Models.Usuario

@{
    ViewData["Title"] = "Nuevo Usuario";
}

<h2>Nuevo Usuario</h2>

<form asp-action="Nuevo" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Cédula</label>
        <input asp-for="Cedula" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Primer Apellido</label>
        <input asp-for="Apellido1" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Segundo Apellido</label>
        <input asp-for="Apellido2" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Rol</label>
        <select asp-for="Rol" class="form-select">
            <option value="">Seleccione</option>
            <option value="Admin">Admin</option>
            <option value="Tecnico">Tecnico</option>
            <option value="Usuario">Usuario</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Departamento</label>
        <select asp-for="IdDepartamento" class="form-select">
            <option value="">Seleccione un departamento</option>
            @foreach (var d in (List<Departamento>)ViewBag.Departamentos)
            {
                <option value="@d.IdDepartamento">@d.Nombre</option>
            }
        </select>
    </div>


    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="clave" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
