@model HelpDeskTI.Web.Models.Computadora

@{
    ViewData["Title"] = "Detalle Computadora";
}

<h2 class="fw-bold mb-3">
    Equipo: @Model.CodigoActivo
</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <div class="row mb-2">
            <div class="col-sm-4 fw-bold">Marca:</div>
            <div class="col-sm-8">@Model.Marca</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4 fw-bold">Modelo:</div>
            <div class="col-sm-8">@Model.Modelo</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4 fw-bold">Serie:</div>
            <div class="col-sm-8">@Model.Serie</div>
        </div>

        <div class="text-end">
            <a asp-action="Index" class="btn btn-outline-secondary">
                Volver
            </a>
        </div>
    </div>
</div>
