@{
    ViewData["Title"] = "Detalle Computadora";
}

<h2 class="fw-bold mb-3">Equipo #@ViewBag.Id</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <p><strong>Activo:</strong> PC-001</p>
        <p><strong>Usuario:</strong> Cairo Pérez</p>
        <p><strong>Marca:</strong> Dell</p>
        <p><strong>Modelo:</strong> Latitude 5420</p>
        <p>
            <strong>Estado:</strong>
            <span class="badge bg-success">Operativa</span>
        </p>

        <div class="text-end">
            <a asp-controller="Computadoras"
               asp-action="Index"
               class="btn btn-outline-secondary">
                Volver
            </a>
        </div>
    </div>
</div>
