@model List<HelpDeskTI.Web.Models.Tiquete>

@{
    ViewData["Title"] = "Tiquetes";
}

<h2 class="fw-bold mb-3">Tiquetes</h2>

<div class="d-flex justify-content-between mb-3">
    <div class="text-muted">
        Total tiquetes: <strong>@Model.Count</strong>
    </div>

    <a asp-action="Nuevo" class="btn btn-primary">
        + Nuevo tiquete
    </a>
</div>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Título</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Creado</th>
            <th class="text-end">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Titulo</td>

                <td>
                    @if (t.Prioridad == "Alta")
                    {
                        <span class="badge bg-danger">Alta</span>
                    }
                    else if (t.Prioridad == "Media")
                    {
                        <span class="badge bg-warning text-dark">Media</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Baja</span>
                    }
                </td>

                <td>
                    @if (t.Estado == "Abierto")
                    {
                        <span class="badge bg-danger">Abierto</span>
                    }
                    else if (t.Estado == "En Proceso")
                    {
                        <span class="badge bg-warning text-dark">En Proceso</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Cerrado</span>
                    }
                </td>

                <td>@t.FechaCreacion.ToString("dd/MM/yyyy")</td>

                <td class="text-end">
                    <a asp-action="Detalle"
                       asp-route-id="@t.IdTiquete"
                       class="btn btn-sm btn-outline-primary">
                        Ver
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
